/* Header MAIN SECTION */
@font-face{
	font-family: 'Metropolis',;
	src: url(fonts/metropolis.semi-bold.otf);
	src: url(fonts/Metropolis-Medium.otf);
	src: url(fonts/Metropolis-Bold.otf);
	src: url(fonts/Metropolis-Black.otf);

}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	color: black;
  }
  
#notification {
	display: none;
}
.notification {
	position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f1c40f;

}
.mainSection {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: auto;
	width: 100%;
}
.headerMainSection {
	display: flex;
	z-index: 1;
	font-family: 'Metropolis', sans-serif;
	font-weight: 600;
	justify-content: space-around;
	align-items: center;
}
.menu {
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 0;	
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.1rem;
}
.menu  > a {
	text-decoration: none;
	color: black;
}
.iService {
	background: rgba(237, 1, 127, 1);
	border-radius: 4px;
	border: 0;
	color: white;
	line-height: 1.5rem;
	align-items: center;
	letter-spacing: 0.1rem;
	filter: drop-shadow(0 0 0.40rem crimson);
	height: 2.5rem;
	width: 9rem;
}

/* main body */
.containerSide {
	display: flex;
	margin-top: -5rem;
	font-family: 'Metropolis', sans-serif;
	font-weight: 500;
	padding-top: 5rem;
}
/* left Side */
.leftMainSection{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 10px;

}
.leftMainSection > h1 {
	font-weight: 1000;
	line-height: 3rem;
	font-size: 3rem;
	margin-bottom: 1rem;
	color: black;
}
.leftMainSection > p {
	margin: 0;
	text-align: left;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}
.mainSectionContainerButton {
	display: flex;
	width: 20rem;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.depositCalculator {
	border-radius: 4px;
	background: #ED017F;
	border-style: none;
	color: white;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.2rem 1rem;
	text-align: center;
}
.loanCalculator {
	border-radius: 4px;
	color: #ED017F;
	border: 1px solid #ED017F;
	background: white;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.2rem 1rem;
	text-align: center;
}
.contactUsContainer {
	display: flex;
	align-content: center;
	justify-content: space-between;
	width: 10rem;
	flex-wrap: wrap;
}
.socialMediaContainer {
	display: flex;
	border-left: 1px solid gray;
	
}	
.phone {
	list-style-image: url(image/socialMediaIcon/Vector.png);
}
.phone > a {
	text-decoration: none;
	color: black;
}
.facebook{
	margin-left: 0.5rem;
	list-style-image: url(image/socialMediaIcon/facebook.png);
}
.youtube{
	list-style-image: url(image/socialMediaIcon/youtube.png);
}
.linkedin{
	list-style-image: url(image/socialMediaIcon/linkedin.png);
}
.instagram{
	list-style-image: url(image/socialMediaIcon/instagram.png);
}

/* RightSection */
.rightMainSection {
	margin-top: -4rem;
	background: #FFEAF5;
}

.sliderContainer>img {
	margin-top: 6rem;
	margin-left: -7rem;
	width: 130%;
	margin-bottom: -2rem;
}
/* Experience -> Header */

.sectionCustomerExperience {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	
	margin-left: auto;
	margin-right: auto;
	
}
.containerHeaderCustExp {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	text-align: center;
	align-items: center;
	width: 100%;
	margin: auto;
}
.containerHeaderCustExp > h1 {
	font-family: 'MMetropolis', sans-serif;
	font-weight: 900;
	font-size: 2rem;
	line-height: 2.8rem;
	color: black;
	
}
.containerHeaderCustExp > p{
	font-family: 'Metropolis', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #999999;
	width: 65%;
	
}
.cardsExperience{
	display: flex;
	flex-direction: column;
	margin-right: -40px;
	
}
.topCardExperience {
	display: flex;
	width: 100%;
	justify-content: space-around;
	gap: 1rem;
}
.card {
	display: flex;
	flex-direction: column;
	text-align: start;
	width:fit-content;
}
.card > p {
	width: 10rem;
}
.card > img {
	width: 2rem;
	height: 2rem;
	
}
.bottomCardExperience {
	margin-top: 1rem;
	justify-content: space-around;
	display: flex;
	width: 100%;
	gap: 1rem;
}
.businessPartners {
	margin: auto;
	
}
.containerBusinessPartners{
	display: flex;
	width: 100%;
	flex-direction: column;
	background: rgba(252, 224, 239, 0.2);
	text-align: center;
	
}
.headingBusinessPartners {
	font-family: 'Metropolis', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.5rem;
	margin-top: 4rem;
	margin-bottom: 3rem;
}
.cardBusinessPartners {
	display: flex;
	justify-content: space-between;
	
	padding-bottom: 3rem;
}
/* IpDc*/
.ipdcFinance{
	width: 100%;
}
.containerIpdcFinance{
	display: flex;
	
}
.containerIpdcFinance > img {
	width: 40%;
}
.decriptionIpdc {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center;
	padding-left: 7rem;
	font-family: 'Metropolis', sans-serif;
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 400;
}
.decriptionIpdc > h3 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 3rem;
	color: black;
}
.containerReadMore {
	gap: 1rem;
	display: flex;
	align-items: center;
}
.containerReadMore > a {
	gap: 1rem;
	color: #ED017F;
	text-decoration: none;
}
.containerReadMore > a > img {
	margin-left: 1rem;
}
/* Our Services */
.ourServices {
	width: 100%;
}
.containerOurServices {
	align-items: center;
	display: flex;
	flex-direction: column;
	background: #FEF9FC;
}
.headerOurServices {
	text-align: center;
	font-family: 'Metropolis', sans-serif;
}
.headerOurServices > h3{
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 2.5rem;
	color: black;
}
.headerOurServices > p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #999999;
}
.ourServicesImages {
	display: flex;
	gap: 2rem;
	padding: 1rem;
	justify-content: space-between;
	font-family: 'Metropolis', sans-serif;
}
.imageOurServices > img {
	width: 15rem;
	height: 20rem;
	border-radius: 9px;
}
.imageOurServices > a {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
	text-decoration: none;
}
.imageOurServices a > img {
	align-items: center;
	margin-left: 4rem;
	margin-bottom: 2rem;
}
.footerImageOurServices {
	display: flex;

	align-items: center;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
	text-decoration: none;
	font-size: 1.7rem;
	line-height: 3rem;
}
.footerImageOurServices > a {
	text-decoration: none;
	color: black;
}
.loansCalculator {
	display: none;
}
.loansCalculatorDisplay {
	display: block;
	background: red;
}
/* Our best results */
.ourBestResults {
	width: 100%;
}
.headerBestResults {
	text-align: center;
}
.toppercentageResults {
	display: flex;
	justify-content: space-around;
}
.bottompercentageResults {
	display: flex;
	justify-content: space-around;
}
.cardPercentage	{
	text-align: start;
	width: 10rem;
}
.newsletter {
	padding-top: 2rem;
	width: 100%;
	background: #FEF9FC;
	padding-bottom: 1rem;
}
.headerNewsletter {
	text-align: center;
}
.inputMail {
	padding-top: 2rem;
	text-align: center;
}
.email {
	
	border: 1px solid gray;
	border-radius: 4px;
	padding: 10px;
}
.subscribeEmail{
	border-radius: 4px;
    background: #ED017F;
    border-style: none;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.2rem 1rem;
    text-align: center;
}
footer {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
	width: 100%
}
footer > div {
	width: 20%;
	height: 15rem;
	line-height: 2rem;
	
}
footer > div > h6 {
	font-size: 1.2rem;
	margin: 0;
	margin-bottom: 1rem;
}
footer> div >ul {
	padding: 0;
}
footer> div >ul> li {
	list-style: none;
}
footer> div >ul > li > a {
	text-decoration: none;
	color: black;
	text-align: start;
	padding-left: 0;
}
footer> div >ul > li > a:hover {
	text-decoration: none;
	color: #ED017F;
	text-align: start;
	padding-left: 0;
}
footer>div>h6 {
	margin-bottom: 1rem;
}
.aboutTheCompany > .contactUsContainer {
	margin-top: 1rem;
} 

.contactPhone {
	display: flex;
	margin-left: 25px;
	
}
.contactPhone > ul {
	padding: 0;
}
.contactPhone > ul >a>.phone {
	padding: 0;
	width: 10px;
}
.contactPhone > ul>li {
	list-style: none;
	margin-top: -5px;
}
.contactPhone > ul>li>a {
	margin-top: 10px;
	text-decoration: none;
	color: black;
}